<div class="header">
  <img src="/images/logo/logo.png" alt="Logo">
  <nav>
    <a href="/">Home</a>
    <a href="/api-docs">API Docs</a>
    <a href="/?venta=true">Productos en Venta</a>
    <a href="/?venta=false">Productos en Búsqueda</a>
  </nav>
</div>
